.container {
    display: flex;
    justify-content: center;
}

.content {
    min-width: 400px;
    max-width: 80vw;
    margin: 10px;
}

.default-width {
    min-width: auto;
}

p-button {
    margin: 5px;
}